@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  font-size: 12pt;
  font-family: Montserrat, serif;
}

body {
    background-color: rgb(249, 248, 248);
    color: rgb(48, 56, 65);
}

.linkedin {
    width: 12px;
    height: 12px;
}

.resume {
    width: 15px;
    height: 15px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 90%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
}

.tooltiptext {
  transform: translate(-50%);
  margin-bottom: 4px;
  padding: 5px 5px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(75, 81, 91, 0.1) -1px 9px 18px 0px;
}

.photo {
    width: 120px;
    height: 120px;
    border-radius: 5%;
}

.linkedin {
    width: 12px;
    height: 12px;
}

.logo {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.name {
    padding-top: 20px;
    font-weight: bold;
}

.position {
    padding-top: 5px;
    padding-bottom: 60px;
}

.link {
    width: 30px;
    height: 30px;
}

.about {
    font-size: 14pt;
    margin-bottom: 60px;
    text-align: center;
}
